USE [SugarianJkCommodityFinal]
GO
/****** Object:  Table [dbo].[Eve_DeliverablesMaster]    Script Date: 25-08-2025 12:24:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eve_DeliverablesMaster](
	[Deliverable_No] [int] NOT NULL,
	[Category] [nvarchar](2) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[Deliverables] [nvarchar](1000) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Eve_DeliverablesMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Eve_DeliverablesMaster] ON 

INSERT [dbo].[Eve_DeliverablesMaster] ([Deliverable_No], [Category], [description], [Deliverables], [id]) VALUES (1, N'B', NULL, N'Logo on Conference Website (with hyperlink)', 1)
INSERT [dbo].[Eve_DeliverablesMaster] ([Deliverable_No], [Category], [description], [Deliverables], [id]) VALUES (2, N'B', NULL, N'Logo on Social Media Promotional Creatives', 2)
INSERT [dbo].[Eve_DeliverablesMaster] ([Deliverable_No], [Category], [description], [Deliverables], [id]) VALUES (3, N'B', NULL, N'Logo on Individual Sponsor Social Media Post', 3)
SET IDENTITY_INSERT [dbo].[Eve_DeliverablesMaster] OFF
GO
