USE [SugarianJkCommodityFinal]
GO
/****** Object:  Table [dbo].[Eve_AwardMaster]    Script Date: 01-09-2025 10:55:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eve_AwardMaster](
	[AwardId] [int] NOT NULL,
	[Award_Name] [nvarchar](500) NULL,
	[EventSuperId] [int] NOT NULL,
 CONSTRAINT [PK_Eve_AwardMaster] PRIMARY KEY CLUSTERED 
(
	[AwardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Eve_AwardMaster] ([AwardId], [Award_Name], [EventSuperId]) VALUES (1, N'Lifetime Achievement Award in Sugar and Oil Sector', 1)
INSERT [dbo].[Eve_AwardMaster] ([AwardId], [Award_Name], [EventSuperId]) VALUES (2, N'Visionary Leadership Award for Business Excellence with Global Foot Print', 1)
INSERT [dbo].[Eve_AwardMaster] ([AwardId], [Award_Name], [EventSuperId]) VALUES (3, N'Most Promising Domestic Sugar Trader (North India)', 1)
GO
