USE [SugarianJkCommodityFinal]
GO
/****** Object:  Table [dbo].[Eve_SlotMaster]    Script Date: 01-09-2025 10:53:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eve_SlotMaster](
	[SlotMasterId] [int] NOT NULL,
	[SlotMaster_Name] [nvarchar](50) NULL,
	[SponsorMasterId] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Eve_SlotMaster] ([SlotMasterId], [SlotMaster_Name], [SponsorMasterId]) VALUES (1, N'Slot 1', 4)
INSERT [dbo].[Eve_SlotMaster] ([SlotMasterId], [SlotMaster_Name], [SponsorMasterId]) VALUES (2, N'Slot 2', 3)
INSERT [dbo].[Eve_SlotMaster] ([SlotMasterId], [SlotMaster_Name], [SponsorMasterId]) VALUES (3, N'Slot 3', 4)
GO
